body {
	background-color:#F8ECE0;
}

.black-and-white {
  filter: progid:DXImageTransform.Microsoft.BasicImage(saturate=20%);
  -webkit-filter: saturate(20%);
  filter: saturate(20%);
}
body {
	background-color:#F8ECE0;
}



#apDiv1 {
width: 1200px;
height: 300px;
 margin: 0 auto;
    background-color:#FF8000;	
}

#apDiv1c1 {
	float: left;
width: 900px;
height: 300px;
    


}
#apDiv1clogin {
float: left;
width: 300px;
height: 300px;

    


}
#apDiv2 {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	
    		background-color:#E9AB17;
}
#apdivlogo{
	float: left; 
	width: 300px;
	height: 50px;
	padding: 10px;
	

}
#apdivlogin
{
	float: right; 
	width: 850px;
	height: 50px;

}


#apDiv3 {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
    background-color:#FFFFFF;
  
}

#apDiv4 {
	position: absolute;
	left: 0px;
	top: 3251px;
	width: 100%;
	height: 477px;
	/*background-image: url(image2/mainpage/under-01.jpg);*/
	background:#72665A;
	 border-style: solid;
    border-width: 1px;
}
#apDiv5 {
	
	left: 50%;
	top: 178px;
	width: 270px;
	height: 118px;
	margin-left: -450px;
	 border-style: solid;
    border-width: 1px;
}
#apDiv6 {
	
	width: 1200px;
height: 255px;
	
	margin: 0 auto;
	border-style: solid;
    border-width: 1px;
}
#apDiv7 {
	position: absolute;
	left: 50%;
	top: 1096px;
	width: 367px;
	height: 155px;
	margin-left: -417px;
}

#apDiv15 {
	position: absolute;
	left: 50%;
	top: 1428px;
	width: 120px;
	height: 33px;
	margin-left: -200px;
}
#apDiv16 {
	position: absolute;
	left: 50%;
	top: 1613px;
	width: 120px;
	height: 33px;
	margin-left: -200px;
}
#apDiv17 {
	position: absolute;
	left: 50%;
	top: 1255px;
	width: 120px;
	height: 33px;
	margin-left: 316px;
}
#apDiv18 {
	position: absolute;
	left: 50%;
	top: 1452px;
	width: 120px;
	height: 33px;
	margin-left: 290px;
}
#apDiv19 {
	position: absolute;
	left: 50%;
	top: 1615px;
	width: 120px;
	height: 33px;
	margin-left: 120px;
}
#apDiv20 {
	position: absolute;
	left: 50%;
	top: 1765px;
	width: 272px;
	height: 76px;
	margin-left: -400px;
}
#apDiv21 {
	position: absolute;
	left: 50%;
	top: 1718px;
	width: 180px;
	height: 184px;
	margin-left: 220px;
}
#apDiv22 {
	width: 1200px;
	height: 250px;
	border-style: solid;
    border-width: 1px;
	margin: 0 auto;
    bottom: 0;
}
#apDiv23 {
	width: 1200px;
	height: 250px;
	border-style: solid;
    border-width: 1px;
	margin: 0 auto;
    bottom: 0;
    padding: 10px;
}



#apDiv24 {
	float: left;
	width: 250px;
	height: 220px;
	
}
#apDiv25 {
	float: left;
	width: 250px;
height: 220px;
}
#apDiv26 {
	float: left;
	width: 250px;
	height: 220px;
}
#apDiv27 {
	float: left;
	width: 250px;
	height: 220px;
}
#apDiv28 {
	position: absolute;
	left: 50%;
	top: 3711px;
	width: 187px;
	height: 16px;
	margin-left: -360px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv29 {
	position: absolute;
	left: 50%;
	top: 3754px;
	width: 187px;
	height: 16px;
	margin-left: -360px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv30 {
	position: absolute;
	left: 50%;
	top: 3733px;
	width: 197px;
	height: 21px;
	margin-left: -370px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFF99;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv31 {
	position: absolute;
	left: 50%;
	top: 3772px;
	width: 187px;
	height: 16px;
	margin-left: -360px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv32 {
	position: absolute;
	left: 50%;
	top: 3678px;
	width: 187px;
	height: 16px;
	margin-left: -360px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}

#apDiv33 {
	position: absolute;
	left: 50%;
	top: 3609px;
	width: 112px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv34 {
	position: absolute;
	left: 50%;
	top: 3626px;
	width: 112px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv35 {
	position: absolute;
	left: 50%;
	top: 3644px;
	width: 130px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv36 {
	position: absolute;
	left: 50%;
	top: 3662px;
	width: 171px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv37 {
	position: absolute;
	left: 50%;
	top: 3680px;
	width: 138px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv38 {
	position: absolute;
	left: 50%;
	top: 3707px;
	width: 141px;
	height: 21px;
	margin-left: -160px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFF99;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv39 {
	position: absolute;
	left: 50%;
	top: 3730px;
	width: 142px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv40 {
	position: absolute;
	left: 50%;
	top: 3748px;
	width: 149px;
	height: 16px;
	margin-left: -150px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv41 {
	position: absolute;
	left: 50%;
	top: 3609px;
	width: 141px;
	height: 21px;
	margin-left: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFF99;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv42 {
	position: absolute;
	left: 50%;
	top: 3632px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv43 {
	position: absolute;
	left: 50%;
	top: 3650px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv44 {
	position: absolute;
	left: 50%;
	top: 3668px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv45 {
	position: absolute;
	left: 50%;
	top: 3686px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv46 {
	position: absolute;
	left: 50%;
	top: 3704px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv47 {
	position: absolute;
	left: 50%;
	top: 3722px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv48 {
	position: absolute;
	left: 50%;
	top: 3740px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv49 {
	position: absolute;
	left: 50%;
	top: 3758px;
	width: 147px;
	height: 16px;
	margin-left: 45px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv50 {
	position: absolute;
	left: 50%;
	top: 3609px;
	width: 163px;
	height: 16px;
	margin-left: 240px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv51 {
	position: absolute;
	left: 50%;
	top: 3627px;
	width: 163px;
	height: 16px;
	margin-left: 240px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv52 {
	position: absolute;
	left: 50%;
	top: 3653px;
	width: 187px;
	height: 21px;
	margin-left: 230px;
	font-size: 14px;
	color: #FFFF99;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv53 {
	position: absolute;
	left: 50%;
	top: 3676px;
	width: 74px;
	height: 16px;
	margin-left: 240px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv54 {
	position: absolute;
	left: 50%;
	top: 3694px;
	width: 74px;
	height: 16px;
	margin-left: 240px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv55 {
	position: absolute;
	left: 50%;
	top: 3712px;
	width: 74px;
	height: 16px;
	margin-left: 240px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv56 {
	position: absolute;
	left: 50%;
	top: 3738px;
	width: 169px;
	height: 21px;
	margin-left: 230px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv57 {
	position: absolute;
	left: 50%;
	top: 3761px;
	width: 169px;
	height: 21px;
	margin-left: 230px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv58 {
	position: absolute;
	left: 50%;
	top: 3813px;
	width: 187px;
	height: 64px;
	margin-left: -75px;
}
#apDiv59 {
	position: absolute;
	left: 50%;
	top: 3860px;
	width: 800px;
	height: 52px;
	margin-left: -390px;
	color: #FFFF99;
}
#apDiv60 {
	position: absolute;
	left: 50%;
	top: 4000px;
	width: 401px;
	height: 25px;
	margin-left: -184px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
#apDiv61 {
	position: absolute;
	left: 50%;
	top: 3972px;
	width: 187px;
	height: 32px;
	margin-left: -75px;
}
#apDiv62 {
	position: absolute;
	left: 50%;
	top: 3676px;
	width: 85px;
	height: 16px;
	margin-left: 320px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv63 {
	position: absolute;
	left: 50%;
	top: 3694px;
	width: 85px;
	height: 16px;
	margin-left: 320px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv64 {
	position: absolute;
	left: 50%;
	top: 3712px;
	width: 85px;
	height: 16px;
	margin-left: 320px;
	font-size: 12px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#apDiv65 {
	position: absolute;
	left: 50%;
	top: 1577px;
	width: 167px;
	height: 42px;
	margin-left: 84px;
}
#apDiv66 {
	position: absolute;
	left: 50%;
	top: 1577px;
	width: 167px;
	height: 42px;
	margin-left: 274px;
}
#apDiv67 {
	position: absolute;
	left: 50%;
	top: 1062px;
	width: 117px;
	height: 126px;
	margin-left: -440px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFFFFF;
}
#apDiv68 {
	width: 1200px;
	height: 155px;
	margin: 0 auto;
	
	
}

#apDiv69 {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	 border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-color:#FFFFFF;
}
#apDiv70 {
	position: absolute;
	left: 50%;
	top: 336px;
	width: 85px;
	height: 28px;
	margin-left: 410px;
}
#apDiv71 {
	
	
	width: 1200px;
	height: 320px;
	
	margin: 0 auto;
	
}

#apDiv72 {
width: 1200px;
height: 50px;
	margin: 0 auto;
	border-style: solid;
    border-width: 1px;
}
#apDiv73 {
	position: absolute;
	left: 50%;
	top: 805px;
	width: 240px;
	height: 125px;
	margin-left: -460px;
	 border-style: solid;
    border-width: 1px;
}
#apDiv74 {
	position: absolute;
	left: 50%;
	top: 850px;
	width: 240px;
	height: 125px;
	margin-left: -210px;
	 border-style: solid;
    border-width: 1px;
}
#apDiv75 {
	position: absolute;
	left: 50%;
	top: 705px;
	width: 419px;
	height: 200px;
	margin-left: 55px;
	 border-style: solid;
    border-width: 1px;
}
#apDiv76 {
	position: absolute;
	left: 50%;
	top: 1000px;
	width: 300px;
	height: 74px;
	margin-left: 220px;
}
.dic input{
  border:1px solid #333;
}
#apDiv77 {
	position: absolute;
	left: 50%;
	top: 1081px;
	width: 285px;
	height: 221px;
	margin-left: 210px;
	background:#ffffff;
}
#apDiv78 {
	position: absolute;
	left: 50%;
	top: 1327px;
	width: 270px;
	height: 298px;
	margin-left: 210px;
}

#apDiv79 {
	float: left; 
    width: 790px;
    height: 300px;
 border-style: solid;
    border-width: 1px;
    
}



#apDiv80 {
	 float:right;
    width:320px;
    height: 300px;

 
 
}
#apDivslide {
	float: left; 
    width: 850px;
    height: 300px;
 
    
}



#apDivvd {
	 float:right;
    width:320px;
    height: 300px;

 
 
}

#apDiv79and80 {
	width: 1200px;
	 height: 350px;
	
	margin: 0 auto;
	
   
}
#apDivypandbanner{
	width: 1000px;
	 height: 600px;
	
	margin: 0 auto;

   
}




#apDivyp {
	float: left; 
    width: 600px;
    height: 400px;
 border-style: solid;
    border-width: 1px;
    
}



#apDivbanner1 {
	 float:right;
    width:300px;
    height: 300px;
border-style: solid;
    border-width: 1px;
 
 
}

#apDivbanner2 {
	  float:right;
    width:300px;
    height: 200px;
border-style: solid;
    border-width: 1px;
}
#apDiv82 {
	position: absolute;
	left: 50%;
	top: 1437px;
	width: 23px;
	height: 19px;
	margin-left: 240px;
}
#apDiv83 {
	position: absolute;
	left: 50%;
	top: 1462px;
	width: 23px;
	height: 19px;
	margin-left: 240px;
}
#apDiv84 {
	position: absolute;
	left: 50%;
	top: 1516px;
	width: 228px;
	height: 52px;
	margin-left: 230px;
}

#apDiv85 {
	position: absolute;
	left: 50%;
	top: 1584px;
	width: 69px;
	height: 26px;
	margin-left: 260px;
}
#apDiv86 {
	position: absolute;
	left: 50%;
	top: 1584px;
	width: 69px;
	height: 26px;
	margin-left: 370px;
}
#apDiv87 {
	position: absolute;
	left: 50%;
	top: 1750px;
	width: 258px;
	height: 234px;
	margin-left: 218px;
}
#apDiv88 {
	position: absolute;
	left: 50%;
	top: 2090px;
	width: 257px;
	height: 250px;
	margin-left: 223px;
	border-style: solid;
    border-width: 1px;
}
#apDiv89 {
	position: absolute;
	left: 50%;
	top: 2440px;
	width: 248px;
	height: 241px;
	margin-left: 224px;
	border-style: solid;
    border-width: 1px;
}
#apDiv90 {
	position: absolute;
	left: 50%;
	top: 2756px;
	width: 248px;
	height: 241px;
	margin-left: 224px;
}
#apDiv91 {
	position: absolute;
	left: 50%;
	top: 1050px;
	width: 147px;
	height: 48px;
	margin-left: -20px;
}
#apDiv92 {
	position: absolute;
	left: 50%;
	top: 1396px;
	width: 147px;
	height: 48px;
	margin-left: -20px;
}
#apDiv93 {
	position: absolute;
	left: 328px;
	top: 1794px;
	width: 80px;
	height: 60px;
	z-index: 5;
}
#apDiv94 {
	position: absolute;
	left: 50%;
	top: 1125px;
	margin-left: -415px;
	width: 541px;
	height: 209px;
	z-index: 5;
}
#apDiv94  a{
 color:#000000;
 font-size:12px;
 font-weight:bold;
}
#apDiv95 {
	position: absolute;
	left: 50%;
	top: 1453px;
	margin-left: -425px;
	width: 560px;
	height: 211px;
	z-index: 6;
}
#apDiv96 {	position: absolute;
	left: 50%;
	top: 1356px;
	width: 164px;
	height: 30px;
	margin-left: -180px;
}
#apDiv97 {
	position: absolute;
	left: 50%;
	top: 1840px;
	width: 164px;
	height: 30px;
	margin-left: -120px;
}
#apDiv98 {
	position: absolute;
	left: 50%;
	top: 1840px;
	width: 123px;
	height: 30px;
	margin-left: 60px;
}
#apDiv99 {
	position: absolute;
	left: 50%;
	top: 2039px;
	width: 164px;
	height: 30px;
	margin-left: -120px;
}
#apDiv100 {
	position: absolute;
	left: 50%;
	top: 2039px;
	width: 123px;
	height: 30px;
	margin-left: 60px;
}
#apDiv101 {
	position: absolute;
	left: 50%;
	top: 2110px;
	width: 60px;
	height: 30px;
	margin-left: 80px;
}
#apDiv117 {
	position: absolute;
	left: 50%;
	top: 2470px;
	width: 60px;
	height: 30px;
	margin-left: 100px;
}
#apDiv118{
	position: absolute;
	left: 50%;
	top: 2470px;
	width: 60px;
	height: 30px;
	margin-left: -220px;
}
#apDiv119{
	position: absolute;
	left: 50%;
	top: 3100px;
	width: 60px;
	height: 30px;
	margin-left: -220px;
}
#apDiv120 {
	position: absolute;
	left: 50%;
	top: 3100px;
	width: 60px;
	height: 30px;
	margin-left: 100px;
	z-index:500;
}
#apDiv121 {
	position: absolute;
	left: 50%;
	top: 3360px;
	width: 60px;
	height: 30px;
	margin-left: 100px;
}
#apDiv109 {
	position: absolute;
	left: 50%;
	margin-left: -445px;
	top: 2153px;
	width: 605px;
	height: 280px;
}
#apDiv102 {
	position: absolute;
	left: 50%;
	margin-left: -132px;
	top: 2870px;
	width: 310px;
	height: 220px;
	z-index: 7;
}
#apDiv108 {
	position: absolute;
	left: 50%;
	margin-left: -455px;
	top: 2870px;
	width: 310px;
	height: 220px;
	z-index: 7;
}
#apDiv103 {
	position: absolute;
	left: 50%;
	top: 2570px;
	width: 305px;
	height: 216px;
	margin-left: -455px;
	color: #000000;
}
#apDiv104 {
	position: absolute;
	left: 50%;
	top: 2570px;
	width: 305px;
	height: 216px;
	margin-left: -132px;
}
#apDiv105 {
	position: absolute;
	left: 50%;
	top: 2235px;
	width: 80px;
	height: 30px;
	margin-left: 400px;
}
#apDiv106 {
	position: absolute;
	left: 50%;
	top: 2581px;
	width: 80px;
	height: 30px;
	margin-left: 400px;
}
#apDiv107 {
	position: absolute;
	left: 92px;
	top: 2930px;
	width: 303px;
	height: 211px;
	z-index: 10;
}
#apDiv113 {
	position: absolute;
	left: 50%;
	top: 1711px;
	width: 545px;
	height: 105px;
	margin-left: -410px;
	border:1px solid #333;
	background-color: #FFFFFF;
}
#apDiv114 {
	position: absolute;
	left: 50%;
	padding-top:15px;
	top: 1910px;
	width: 545px;
	height: 105px;
	margin-left: -410px;
	border:1px solid #333;
	background-color: #FFFFFF;
}
#apDiv115 {
	position: absolute;
	left: 10%;
	top: 2700px;
	width: 605px;
	height: 280px;
	margin-left: 140px;
}
#apDiv116 {
	position: absolute;
	left: 50%;
	top: 3205px;
	width: 650px;
	height: 160px;
	margin-left: -460px;
}
#banner {
	position: absolute;
	left: 50%;
	top: 2700px;
	width: 250px;
	height: 600px;
	margin-left: 250px;
	/*border:1px solid #999;*/
}
#banner img{
 margin-top:10px;
}
#ac-wrapper {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1001;
}
#popup{
width: 60%;
height: 80%;
background: #999;
border: 5px solid #F90;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
box-shadow: #64686e 0px 0px 3px 3px;
-moz-box-shadow: #64686e 0px 0px 3px 3px;
-webkit-box-shadow: #64686e 0px 0px 3px 3px;
position: relative;
top: 150px; left: 375px;
}


.navbar-nav:target { 

background:#DBA901; 
padding: 10px;



/*replace with desired color*/ }



#apDiv9news {
width: 1200px;
height: 900px;
 margin: 0 auto;

	
}

#apdiv3menubar {

width:  1200px;
height: 160px;
 margin: 0 auto;
background-color:#F2F2F2;
}

.glyphicon {
    font-size: 3em;
}



#apdivimage1 {
	    width: 500px;
height: 400px;
 margin: 0 auto;

}

#apdivimgrow {
width: 600px;
height: 300px;
text-align:center;
margin: 0 auto;
}

#apdivimgrow2 {
width: 400px;
height: 300px;
text-align:center;
margin: 0 auto;
}
#apdivphotoleft {
	float: left;
	 width: 200px;
	height: 200px;
 

}
#apdivphotocenter {
	 display: inline-block;
    margin:0 auto;
	 width: 200px;
	height: 200px;
}
#apdivphotoright {
	 float:right;
	 width: 200px;
height: 200px;
 

}


.orange {
	background-color: orange;
}


#apdivmini3
{
    margin:0 auto;
	 width: 1200px;
	height:30px;
	 text-align: center;
background-color:#F2F2F2;
}

#divcrop2{
	width: 1050px;
	height:300px;
 
    margin:0 auto;

}
#div2block {
	float: left;
 width: 500px;
	height:300px;
    padding: 30px;
}
#divcrop3{
	width: 1100px;
	height:400px;
    margin:0 auto;
   
}
#div3block{
	float: left;
 width: 350px;
	height:400px;
    padding: 30px;
}


#apDivonlycolumn {
	width: 1200px;
	height: 315px;
	margin: 0 auto;
	
	
}
